@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .text-center {
        width:400px;
        text-align: center;
        margin: 20px auto;
        border:1px solid black;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    h2 {
        color: #333;
    }

    h3 {
        color: #007bff;
    }

    img {
        width:220px;
        height:250px;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }
</style>

<div class="text-center">
<h2>This is a sample of product that we sell in our app.</h2>
    <h3>Product Name: Iphone</h3>
    <img src="https://images.unsplash.com/photo-1523206489230-c012c64b2b48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aXBob25lfGVufDB8fDB8fHww" alt="iphoneImage" />
    <p>Price:Rs 1,20,000</p>
    <p>
        Description: This is Iphone 13 pro max, exclusively for a user like you. <br />
        Give a try to this product for better experience.

    </p>
    <a href="#"><button>Buy Now</button></a>
    <a href="#"><button>Add to Cart</button></a>

</div>
